body {
	width: 100%;
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	background-color: #EEE;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.clearBoth {
	clear: both;
}

#mainContent {
	width: 95%;
	margin: 0 2%;
}

header{
	padding: 2%;
	position: relative;
	margin-bottom: 10px;
}

header img {
	position: absolute;
	top : 20px;
	left: 5%;
	width: 100px;
	height: 100px;
}

h1 {
	text-align: center;
	font-size: 2.5em;
}

nav li {
	width: 20%;
	margin: 1%;
	padding: 15px 5px;
	float: left;
	text-align: center;
	background-color: #FFF;
	font-size: 1em;
}

section {
	clear: both;
	width: 100%;
}

.planet {
	width: 48%;
	float: left;
	margin: 1%;
	background-color: #777;
	min-height: 440px;
}

h2 {
	font-size: 1.8em;
	text-align: center;
	color: #DDD;
}

.planet img {
	display: block;
	width: 100%;
	max-height: 231px;
}

.planet ul {
	margin: 5%;
}

.planet ul li span {
	font-weight: bold;
}

.planet p {
	margin: 5%;
}

footer {
	clear: both;
	background-color: #111;
	color: #EEE;
	padding: 2%;
}

footer label{
	margin-right: 15px;
}

#map {
	margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .planet {
    width: 95%;
    float: none;
    margin: 10px auto;
    padding: 10px 0;
  }

  header img {
	position: absolute;
	top : 20px;
	left: 1%;
	width: 50px;
	height: 50px;
}

h1 {
	text-align: center;
	font-size: 2em;
}

}